/* Generales */
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    color: rgb(255, 255, 255);
}

.separador {
    margin: 50px auto;
    width: 70%;
}

/* Seccion Barra de navegacion */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 5px 30px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

#nav-links {
    display: flex;
    gap: 50px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Cinzel', serif;
}

#nav-links a:hover {
    transform: scale(1.1);
    color: rgb(222, 203, 154);
}

/* Seccion Hero */
#hero-section {
    display: flex;
}

#container-img-hero {
    width: 100%;
    height: 100%;
    position: static;
}

#hero-texto {
    position: absolute;
    top: 30%;
    right: 7%;
    font-size: 25px;
}

#hero-title {
    font-family: 'Cinzel', serif;
    margin-bottom: 0;
}

#hero-parrafo {
    margin-top: 0;
    border-top: 2px solid rgb(255, 255, 255);
}

/* Seccion frase */
#frase-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 12, 31);
}

#frase-title {
    font-family: 'Cinzel', serif;
    font-size: 10px;
    margin-left: 20%;
}

#frase-parrafo {
    text-align: center;
    font-size: 17px;
    color: rgb(203, 213, 225);
}

/* Seccion Descripcion */
#description-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    margin-top: 50px;
}

#tarjeta-descripcion, #tarjeta-categoria {
    padding: 25px;
    border: 2px dashed rgb(222, 203, 154);
    border-radius: 15px;
    background-color: rgb(11, 13, 16);
}

#tarjeta-descripcion {
    width: 60%;
    margin-left: 7%;
}

#tarjeta-categoria {
    width: 20%;
    margin-right: 7%;
}

#tarjeta-descripcion h2 {
    font-family: 'Cinzel', serif;
    color: rgb(222, 203, 154);
    border-bottom: 1px solid rgb(222, 203, 154);
    margin-bottom: 25px;
}

#tarjeta-categoria h2 {
    font-family: 'Cinzel', serif;
    color: rgb(222, 203, 154);
    border-bottom: 1px solid rgb(222, 203, 154);
    margin-bottom: 25px;
}

#tarjeta-descripcion p {
    color: rgb(203, 213, 225);
    margin-bottom: 25px;
    line-height: 2;
}

#tarjeta-categoria ul {
    color: rgb(203, 213, 225);
    margin-bottom: 25px;
    line-height: 2;
    position: relative;
    padding-left: 15px;
}

/* Seccion plataformas disponibles */
#Plataformas-titulo {
    display: flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
}

#Plataformas-titulo h2 {
    border-bottom: 1px solid rgb(203, 213, 225);
}

#plataforma-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    padding: 40px 20px;
}

#plataforma-section img {
    width: 70px;
    padding-top: 10px;
}

.tarjeta-plataforma {
    width: 25%;
    border: 2px solid rgb(222, 203, 154);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(11, 13, 16);
}

.tarjeta-plataforma:hover {
    transform: translateY(-4px);
    background-color: rgb(222, 203, 154);
    color: rgb(0, 0, 0);
    box-shadow: 0px 15px 30px -5px rgba(255, 255, 255, 0.7);
}

.tarjeta-plataforma h2 {
    margin-bottom: 2px;
    border-bottom: 1px solid rgb(222, 203, 154);
}

/* Seccion personajes */
#character-title {
    display: flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
}

#character-title h2 {
    border-bottom: 1px solid rgb(203, 213, 225);
}

.character-target-title {
    background-color: rgb(222, 203, 154);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#character-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    padding: 40px 20px;
}

#character-section img {
    width: 150px;
    padding: 15px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.character-target {
    width: 25%;
    background-color: rgb(11, 13, 16);
    border: 1px solid rgb(222, 203, 154);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-target p {
    text-align: justify;
    padding: 10px 20px;
    margin: 0;
    background-color: rgb(11, 13, 16);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#personajes-proximamente {
    display: flex;
    justify-content: center;
    color: rgb(203, 213, 225);
}

#personajes-proximamente h3 {
    border-bottom: 1px solid rgb(203, 213, 225);
}

/* Seccion diario del cazador */

#diario-title {
    display: flex;
    justify-content: center;
}

#diario-title h2 {
    border-bottom: 1px solid rgb(203, 213, 225);
}

#section-diario {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#diario-contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(203, 213, 225);
    border-radius: 15px;
    width: 70%;
    background-color: rgb(11, 13, 16);
}

#diario-contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 30px;
    text-align: justify;
}

#diario-descripcion-title h3 {
    font-family: 'Cinzel', serif;
    border-bottom: 1px solid rgb(255, 255, 255);
}

/* Seccion DLC's */
#dlc-title {
    display: flex;
    justify-content: center;
    font-family: 'Cinzel', serif;
}

#dlc-title h2 {
    border-bottom: 2px solid rgb(203, 213, 225);
}

#section-dlc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 30px;
}

.dlc-container {
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 30px;
}

.dlc-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(222, 203, 154);
    border-radius: 15px;
    background-color: rgb(11, 13, 16);
    width: 40%;
}

.dlc-target-title {
    background-color: rgb(222, 203, 154);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;

}

.dlc-target img {
    width: 200px;
    border: 2px solid rgb(222, 203, 154);
    border-radius: 15px;
}

.dlc-target-parrafo {
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 70%;
}

/* Seccion Audio */
#music-title {
    display: flex;
    justify-content: center;
}

#music-title h2 {
    border-bottom: 2px solid rgb(203, 213, 225);
    font-family: 'Cinzel', serif;
}

#audio-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
}

.pista-container {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.pista-audio {
    width: 25%;
    padding: 20px;
    background-color: rgb(11, 13, 16);
    border: 2px solid rgb(222, 203, 154);
    border-radius: 15px;
}


/* Seccion Secuela */
#secuela-title {
    display: flex;
    justify-content: center;
}

#secuela-title h2 {
    border-bottom: 2px solid rgb(203, 213, 225);
    font-family: 'Cinzel', serif;
}

#secuela-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#secuela-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(222, 203, 154);
    border-radius: 15px;
    width: 50%;
    background-color: rgb(11, 13, 16);
}

#secuela-parrafo {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secuela-parrafo h3 {
    font-family: 'Cinzel', serif;
    border-bottom: 2px solid rgb(222, 203, 154);
}

#secuela-parrafo p {
    padding: 0px 40px 20px 40px;
}

#secuela-img {
    display: flex;
    justify-content: end;
    width: 40%;
}

#secuela-img img {
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: 1px solid rgb(222, 203, 154);
}

#secuela-container-2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(222, 203, 154);
    border-radius: 15px;
}

#secuela-trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secuela-trailer h2 {
    font-family: 'Cinzel', serif;
}

#secuela-trailer iframe {
    border-radius: 15px;
}

#trailer-title {
    width: 100%;
    height: 100%;
    background-color: rgb(222, 203, 154);
    color: rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
}

/* Seccion Team Cherry */
#teamcherry-title {
    display: flex;
    justify-content: center;
    background-color: rgb(222, 203, 154);
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#teamcherry-title h2 {
    font-family: 'Cinzel', serif;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

#teamcherry-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#teamcherry-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(11, 13, 16);
    border-radius: 15px;
    border: 2px solid rgb(222, 203, 154);
}

#teamcherry-img img {
    width: 250px;
}

#teamcherry-parrafo {
    width: 100%;
    display: flex;
    justify-content: center;
}

#teamcherry-equipo {
    width: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(222, 203, 154);
    border-radius: 15px;
}

#equipo-title {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgb(222, 203, 154);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#equipo-title h2 {
    border-bottom: 2px solid rgb(0, 0, 0);
}

#equipo-container {
    display: flex;
    justify-content: center;
}

.equipo-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 20px;
    border: 2px solid rgb(222, 203, 154);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(11, 13, 16);
}

.equipo-target-img img {
    width: 200px;
}

.equipo-nombre {
    font-family: 'Cinzel', serif;
}

.equipo-parrafo {
    width: 80%;
    text-align: justify;
}

/* Seccion creado por */
#footer-section {
    display: flex;
    justify-content: center;
    border-top: 2px solid rgb(203, 213, 225);
    background-color: rgb(0, 12, 31);
}

@media screen and (max-width: 480px) {
    #hero-texto {
        position: absolute;
        font-size: 9px;
        top: 10%;
        right: 7%;
    }

    a {
        font-size: 10px;
    }

    #description-section {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }
    #tarjeta-categoria {
        width: 40%;
        margin-right: 0px;
    }

    #plataforma-section {
        flex-direction: column;
        align-items: center;
    }
    .tarjeta-plataforma {
        width: 60%;
    }

    #character-section {
        flex-direction: column;
        align-items: center;
    }
    .character-target {
        width: 60%;
    }

    #diario-contenedor1 {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    #diario-contenedor1 p {
        padding: 20px;
        text-align: justify;
    }
    #diario-contenedor1 img {
        width: 200px;
    }

    .dlc-container {
        flex-direction: column;
        align-items: center;
    }

    .dlc-target {
        width: 80%;
    }

    .pista-container {
        flex-direction: column;
        align-items: center;
    }

    .pista-audio {
        width: 80%;
    }

    #secuela-container-1 {
        flex-direction: column;
        width: 90%;
    }

    #secuela-parrafo {
        width: 90%;
    }
    #secuela-img img {
        border: 2px solid rgb(222, 203, 154);
        border-radius: 100%;
        margin-bottom: 20px;
    }
    #secuela-trailer iframe {
        width: 100%;
    }

    #teamcherry-parrafo p {
        text-align: justify;
        padding: 20px;
    }
    #teamcherry-img img{
        margin-top: 20px;
    }
    #equipo-container {
        flex-direction: column;
        align-items: center;
    }
    .equipo-target {
        width: 90%;
        border-radius: 0px;
        border: 0px;
    }

}